table,
tr,
td {
    border: 1px solid;
}

table tr:last-child td {
    text-align: center;
}

#infoTable {
    display: none;
    margin-top: 20px;
}

#infoTable table {
    border-collapse: collapse;
    background-color: #cac1c1;
    /* padding: 14px; */
}

#infoTable table,
#infoTable tr,
#infoTable td {
    padding: 5px;
    text-align: center;
}